html {
    background: white;
}

html, body {
    margin:0;
    padding:0;
}

body {
    font-size:x-large;
}

.clearer {
    clear:both;
}

#intro {
    background: rgb(0,0,128);
    background: rgba(0,0,128, .8);
    color:white;
    font-family: Verdana,Geneva,sans-serif;
    overflow:hidden;
    padding:1em 0;
    text-align:center;
    
    position:relative;
}

#intro:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background-image: url('/images/football_field.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#logo {
    float:left;
}

#intro_content {
    margin:0 auto;
    max-width:60em;
}

#intro * {
    position:relative;  /*Positioned in order to apply z-index and get text on top of background image.*/
    z-index:2;          /* https://scotch.io/quick-tips/how-to-change-a-css-background-images-opacity */
}

#testimonial_img {
    width:40%;
    max-width: 20em;
}

#sports_links_cont {
    height:24em;
    overflow:hidden;
    text-align:center;
    
    position:relative;
}

.sports_link {
    background: rgb(0,0,128);
    background: rgba(0,0,128, .5);
    border:1px solid black;
    border-radius:100%;
    box-sizing:border-box;
    color:white;
    display:block;
    height:12em;
    overflow:hidden;
    width:12em;
}

#football {
    position:absolute;
    top:0;
    right:100%;
}

#basketball {
    position:absolute;
    top:0;
    left:100%;
}

#baseball {
    position:absolute;
    right:100%;
    bottom:0;
}

#skating {
    position:absolute;
    bottom:0;
    left:100%;
}

.sports_link_header {
    font-family: "Arial Black","Arial Bold",Gadget,sans-serif;
    margin:0;
    text-align:center;
    padding:0;
    width:100%;
    
    position:absolute;
    bottom:1em;
}

.sports_link:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.coming_soon:before {
    opacity: 0.3;
}

.sports_link:hover:before {
    opacity:1;
}

.coming_soon:hover:before {
    opacity:0.3;
}

.sports_link * {
    z-index:2;
}

#football:before {
    background-image: url('/images/football.png');
}

#basketball:before {
    background-image: url('/images/basketball.jpg');
}

#baseball:before {
    background-image: url('/images/baseball.jpg');
}

#skating:before {
    background-image: url('/images/skating.jpg');
}

.coming_soon {
    background: rgb(105,105,105);
    background: rgba(105,105,105, 1);
    cursor:no-drop;
}

.coming_soon_text {
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    width:100%; 
    
    position:absolute;
    top:1em;
}

@media all and (max-width: 90em) {
    body {
        font-size:large;
    }
    #testimonial_img {
        width:50%;
        max-width: none;
    }
}

@media all and (max-width: 45em){
    body {
        font-size:medium;
    }
    #testimonial_img {
        width:70%;
        max-width: none;
    }
}