html {
    background:white;
}

html, body {
    margin:0;
    padding:0;
}

body {
    font-size:x-large;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; } /* Required for UI Bootstrap */

.clearer {
    clear:both;
}

#logo {
    float:left;
}

#how_it_works {
    margin:0 auto;
    max-width:60em;
}

#how_it_works_header {
    font-family: "Arial Black","Arial Bold",Gadget,sans-serif;
}

#go_to_predraft, #go_to_draft, #reset, .btn-primary, .btn-warning {
    background:#2883DF;
    border-width:0px;
    color:white;
    cursor:pointer;
    display:block;
    font-size:1em;
    margin:1em auto;
    padding:1em 0;
    text-align:center;
    text-decoration:none;
    width:10em;
}

#go_to_predraft:hover, #go_to_draft:hover, .btn-primary:hover {
    background:#0D75DC;
}

#go_to_draft, #reset, .btn-primary, .btn-warning {
    display:inline-block;
}

#reset, .btn-warning {
    background:#F42B2B;
}

#reset:hover, .btn-warning:hover {
    background:#C60B0B;
}

#predraftFormCont {
    text-align:center;
}

#predraftForm {
    display:inline-block;
}

#undo {
    background:white;
    cursor:pointer;
    display:inline-block;
}

/* Filtering: */
#filter_cont input[type=radio] {
  display:none;
  height:2em;
  margin:1em 0;
}

.filter {
    background:white;
    cursor:pointer;
    display:block;
    float:left;
    height:2em;
    line-height: 2em;
    text-align:center;
    width:5em;
}

.filtered_pos {
    background:blue;
    color:white;
}

input.ng-invalid {
    background:red;
}
/******************************/

/* Player items in ng-repeat: */

.player, #sort_cont {
    font-size:0.8em;
}

.player {
    height:2em;
}

.stat, .sort{
    background:linear-gradient(to bottom,#0262C3,#5D9DDC);
    color:white;
    display:block;
    float:left;
    text-align:center;
    width:5em;
}

.stat {
    height:2em;
    line-height: 2em;
}

.sort {
    background:#5606CE;
    border:1px solid black;
    box-sizing:border-box;
    cursor:pointer;
    height:3em;
}

#sort_cont {
    height:3em;
    margin-top:1em;
}

.stat.name, .sort.name {
    width:12em;
}

.price {
    background:white;
    color:black;
}

/******************************/

/* Sorting: */

.sorted_cat {
    background:#EDED1A;
    color:black;
}

/******************************/

/* Modals: */

.btn-primary, .btn-warning {
    margin:0;
}

/******************************/

@media all and (max-width: 90em) {
    body {
        font-size:large;
    }
}

@media all and (max-width: 75em){
    body {
        font-size:medium;
    }
}

@media all and (max-width: 60em){
    .game_stat {
        display:none;
    }
}