<!--<sort-filter players="players"></sort-filter>-->
<progressbar max="totalDollars" value="draftMeta.totalDollarsRemaining"><span style="color:white; white-space:nowrap;">League Dollars: {{ draftMeta.totalDollarsRemaining }} / {{ totalDollars }}</span></progressbar>
<progressbar max="200" value="draftMeta.playerDollarsRemaining"><span style="color:white; white-space:nowrap;">My Dollars: {{ draftMeta.playerDollarsRemaining }} / 200</span></progressbar>

<div id="draft_cont">
<div id="draft_controls">

<div id="instructions">
	<div>Click on a player when they've been drafted.</div>
	<div>Recommended prices that have increased since the start of the draft are <span style="color:green">green</span>.</div>
	<div>Recommended prices that have decreased since the start of the draft are <span style="color:red">red</span>.</div>
</div>

<div id="undo" class="transitioned" ng-click="undo()">Undo previous pick</div>
<div id="search_cont">
	<label for="search">Search: <input id="search" ng-model="search.Name"></label>
</div>
<div id="filter_cont">
	<label for="All" class="filter transitioned" ng-class="{'filtered_pos':selectedPos === 'All'}" ng-click="selectedPos = 'All'">All<input id="All" type="radio" value="" ng-model="search.Pos"/></label>
	<label for="QB" class="filter transitioned" ng-class="{'filtered_pos':selectedPos === 'QB'}" ng-click="selectedPos = 'QB'">QB<input id="QB" type="radio" value="QB" ng-model="search.Pos"/></label>
	<label for="RB" class="filter transitioned" ng-class="{'filtered_pos':selectedPos === 'RB'}" ng-click="selectedPos = 'RB'">RB<input id="RB" type="radio" value="RB" ng-model="search.Pos"/></label>
	<label for="WR" class="filter transitioned" ng-class="{'filtered_pos':selectedPos === 'WR'}" ng-click="selectedPos = 'WR'">WR<input id="WR" type="radio" value="WR" ng-model="search.Pos"/></label>
	<label for="TE" class="filter transitioned" ng-class="{'filtered_pos':selectedPos === 'TE'}" ng-click="selectedPos = 'TE'">TE<input id="TE" type="radio" value="TE" ng-model="search.Pos"/></label>
	<label for="K" class="filter transitioned" ng-class="{'filtered_pos':selectedPos === 'K'}" ng-click="selectedPos = 'K'">K<input id="K" type="radio" value="K" ng-model="search.Pos"/></label>
</div>
<div class="clearer"></div>
<div id="sort_cont">
	<div class="sort name transitioned" ng-click="order('Name')" ng-class="{'sorted_cat':predicate === 'Name'}"><span class="sort_text">Name</span></div>
	<div class="sort transitioned player_info" ng-click="order('Pos')" ng-class="{'sorted_cat':predicate === 'Pos'}"><span class="sort_text">Position</span></div>
	<div class="sort transitioned player_info" ng-click="order('Team')" ng-class="{'sorted_cat':predicate === 'Team'}"><span class="sort_text">Team</span></div>
	<div class="sort game_stat transitioned" ng-click="order('PassYards')" ng-class="{'sorted_cat':predicate === 'PassYards'}"><span class="sort_text">Passing Yds</span></div>
	<div class="sort game_stat transitioned" ng-click="order('PassTD')" ng-class="{'sorted_cat':predicate === 'PassTD'}"><span class="sort_text">Passing TDs</span></div>
	<div class="sort game_stat transitioned" ng-click="order('Int')" ng-class="{'sorted_cat':predicate === 'Int'}"><span class="sort_text">INTs</span></div>
	<div class="sort game_stat transitioned" ng-click="order('RushYards')" ng-class="{'sorted_cat':predicate === 'RushYards'}"><span class="sort_text">Rushing Yds</span></div>
	<div class="sort game_stat transitioned" ng-click="order('RushTD')" ng-class="{'sorted_cat':predicate === 'RushTD'}"><span class="sort_text">Rushing TDs</span></div>
	<div class="sort game_stat transitioned" ng-click="order('Rec')" ng-class="{'sorted_cat':predicate === 'Rec'}"><span class="sort_text">Receptions</span></div>
	<div class="sort game_stat transitioned" ng-click="order('RecYards')" ng-class="{'sorted_cat':predicate === 'RecYards'}"><span class="sort_text">Rec Yds</span></div>
	<div class="sort game_stat transitioned" ng-click="order('RecTD')" ng-class="{'sorted_cat':predicate === 'RecTD'}"><span class="sort_text">Rec TDs</span></div>
	<div class="sort transitioned" ng-click="order('FantasyPoints')" ng-class="{'sorted_cat':predicate === 'FantasyPoints'}"><span class="sort_text">Fantasy Pts</span></div>
	<div class="sort transitioned" ng-click="order('AverageAuction')" ng-class="{'sorted_cat':predicate === 'AverageAuction'}"><span class="sort_text">Original Price</span></div>
	<div class="sort transitioned recommendedPrice" ng-click="order('RecommendedPrice')" ng-class="{'sorted_cat':predicate === 'RecommendedPrice'}"><span class="sort_text">Recommended Price</span></div>
</div>

<div class="loading_wrap" ng-show="loading">
	<!--<img src="/images/loading.gif" alt="loading">-->Loading...	
</div>

<accordion close-others="true">

<accordion-group>
<accordion-heading>
	Taken ({{ takenFiltered.length }} Players)
</accordion-heading>
<span class="price_note"><i>(The last column here shows the actual price paid.)</i></span>
<div class="clearer"></div>
<div ng-repeat="player in takenFiltered = (players | orderBy:predicate:reverse | filter:search | filter:notAvailable)" class="player">
	<div class="player_stat_cont">
	  <div class="stat name">{{ player.Name }}</div>
	  <div class="stat pos player_info">{{ player.Pos }}</div>
	  <div class="stat team player_info">{{ player.Team }}</div>
	  <div class="stat game_stat passYards">{{ player.PassYards }}</div>
	  <div class="stat game_stat passTD">{{ player.PassTD }}</div>
	  <div class="stat game_stat int">{{ player.Int }}</div>
	  <div class="stat game_stat rushYards">{{ player.RushYards }}</div>
	  <div class="stat game_stat rushTD">{{ player.RushTD }}</div>
	  <div class="stat game_stat rec">{{ player.Rec }}</div>
	  <div class="stat game_stat recYards">{{ player.RecYards }}</div>
	  <div class="stat game_stat recTD">{{ player.RecTD }}</div>
	  <div class="stat fantasyPoints">{{ player.FantasyPoints }}</div>
	  <div class="stat averageAuction">{{ player.AverageAuction|currency:undefined:0  }}</div>
	  <div class="stat pricePaid">{{ player.Price|currency:undefined:0 }}</div>
	 </div>
</div>
</accordion-group>

<accordion-group>
<accordion-heading>
	My Team ({{ myTeamFiltered.length }} Players)
</accordion-heading>
<span class="price_note"><i>(The last column here shows the actual price paid.)</i></span>
<div class="clearer"></div>
<div ng-repeat="player in myTeamFiltered = (players | orderBy:predicate:reverse | filter:search | filter:notAvailable | filter:myTeam)" class="player">
	<div class="player_stat_cont">
	  <div class="stat name">{{ player.Name }}</div>
	  <div class="stat player_info pos">{{ player.Pos }}</div>
	  <div class="stat player_info team">{{ player.Team }}</div>
	  <div class="stat game_stat passYards">{{ player.PassYards }}</div>
	  <div class="stat game_stat passTD">{{ player.PassTD }}</div>
	  <div class="stat game_stat int">{{ player.Int }}</div>
	  <div class="stat game_stat rushYards">{{ player.RushYards }}</div>
	  <div class="stat game_stat rushTD">{{ player.RushTD }}</div>
	  <div class="stat game_stat rec">{{ player.Rec }}</div>
	  <div class="stat game_stat recYards">{{ player.RecYards }}</div>
	  <div class="stat game_stat recTD">{{ player.RecTD }}</div>
	  <div class="stat fantasyPoints">{{ player.FantasyPoints }}</div>
	  <div class="stat averageAuction">{{ player.AverageAuction|currency:undefined:0  }}</div>
	  <div class="stat pricePaid">{{ player.Price|currency:undefined:0 }}</div>
	</div>
</div>
</accordion-group>

<accordion-group is-open="true">
<accordion-heading>
	Available ({{ availableFiltered.length }} Players)
</accordion-heading>
<div ng-repeat="player in availableFiltered = (players | orderBy:predicate:reverse | filter:search | filter:available)" class="player draft_room" ng-controller="ModalCtrl" ng-click="open(player)">
	<div class="player_stat_cont">
	  <div class="stat name">{{ player.Name }}</div>
	  <div class="stat pos player_info">{{ player.Pos }}</div>
	  <div class="stat team player_info">{{ player.Team }}</div>
	  <div class="stat game_stat passYards">{{ player.PassYards }}</div>
	  <div class="stat game_stat passTD">{{ player.PassTD }}</div>
	  <div class="stat game_stat int">{{ player.Int }}</div>
	  <div class="stat game_stat rushYards">{{ player.RushYards }}</div>
	  <div class="stat game_stat rushTD">{{ player.RushTD }}</div>
	  <div class="stat game_stat rec">{{ player.Rec }}</div>
	  <div class="stat game_stat recYards">{{ player.RecYards }}</div>
	  <div class="stat game_stat recTD">{{ player.RecTD }}</div>
	  <div class="stat fantasyPoints">{{ player.FantasyPoints }}</div>
	  <div class="stat averageAuction">{{ player.AverageAuction|currency:undefined:0  }}</div>
	  <div class="stat recommendedPrice" ng-class="{'price_up': priceChange(player, true), 'price_down': priceChange(player, false)}">{{ player.RecommendedPrice|currency:undefined:0 }}</div>
	 </div>
</div>
</accordion-group>

</accordion>

</div>
</div>