TESTING...
<form novalidate name="modalForm">
{{ player.Name }}, {{ player.Owner }}, {{ player.Price }}
<input type="number" ng-model="player.Price" name="playerPrice" min="0" max="200" integer value="{{ player.Price }}" required>
<div>
	Drafted by:
	<input type="radio" ng-model="player.Owner" name="owner" value="me" required>Me
    <input type="radio" ng-model="player.Owner" name="owner" value="other" required>Someone Else
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="submit(modalForm.$valid, player)">Player drafted</button>
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</form>